[Desktop Entry]
Version=1.1
Encoding=UTF-8
Type=Application
Categories=Database;

Name=Postman
Exec=/opt/Postman/Postman

# This icon might be overridden by other icon themes (e.g. breeze).
Icon=/opt/Postman/postman.png